<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='rapidlabs-logo.png') }}"
    />
    <title>Virtual Try On App</title>
  </head>
  <div class="container">
    <h1>Upload Images</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="person">Person:</label>
        <input
          type="file"
          id="person"
          name="person"
          accept="image/*"
          required
        />
      </div>
      <div class="form-group">
        <label for="clothing">Clothing Item:</label>
        <input
          type="file"
          id="clothing"
          name="clothing"
          accept="image/*"
          required
        />
      </div>
      <button type="submit">Upload</button>
    </form>
    <div id="result">
      <h2>Result Image</h2>
      <img src="{{
      generated_image|default("https://images.squarespace-cdn.com/content/v1/6213c340453c3f502425776e/0715034d-4044-4c55-9131-e4bfd6dd20ca/2_4x.png?format=512w",
      true) }}" id="resultImage" alt="Generated Image">
    </div>
  </div>
  <script>
    document.getElementById('uploadForm').onsubmit = function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      fetch('/submit-prompt', {
        method: 'POST',
        body: formData,
      }).then((response) =>
        console.log(
          response,
          response.body,
          response.formData(),
          response.json(),
          response.url,
          response.text()
        )
      );
      // .then((response) => response.blob())
      // .then((blob) => {
      //   const url = URL.createObjectURL(blob);
      //   console.log('INSIDE UPDATION');
      //   // console.log(response);
      //   console.log(blob);
      //   console.log(url);
      //   document.getElementById('resultImage').src = url;
      // })
      // .catch((error) => console.error('Error:', error));
      // .then((response) => response.blob())
      // .then((blob) => {
      //   const url = URL.createObjectURL(blob);
      //   console.log('INSIDE UPDATION');
      //   // console.log(response);
      //   console.log(blob);
      //   console.log(url);
      //   document.getElementById('resultImage').src = url;
      // })
      // .catch((error) => console.error('Error:', error));
    };
  </script>
</html>
